/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    /* cursor: url('./assets/auto.png'),pointer; */
    cursor: url('./assets/auto.png') 35 45, auto;         
}

a:hover{
    cursor: url('./assets/pointer.png') 30 25, auto; 
 }



