<div class="container">
    
    <div class="col-md-6" >
       <!-- <div *ngIf="user">  -->
        <div><img src= "../../assets/trainer_icon.png"></div>
        <div class = "profile">
            <div><span><strong>Trainer Profile: </strong></span> </div>
            <hr class="dashed">
            <div><span>Trainer ID: {{id.id}}</span> </div>
            <div><span>Trianer Name: {{first.first}} {{last.last}}</span> </div>
            <div><span>Trainer Email: {{email.email}}</span> </div>
            <div><span>Packs Owned: {{ numPacksPurchased.numPacksPurchased}}</span> </div>
            <div><span>Pokecoins: {{currency.currency | currency}} </span> </div> 
       </div>

    </div>

</div>