.profile{
    width: 345px;
    height: 200px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bolder;
    text-align: center;
    

}

#divider {
    border-style: double;
    border-top: 0.5px dashed #bbb;
    
  }