<h3>Auction Details</h3>
<div class="auction-container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{card?.image}}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">{{card?.name}}</h5>
                    <span class="card-text">Type: {{card?.type}}</span><br>
                    <span class="card-text">Rarity: {{card?.rarity}}</span><br>
                    <span class="card-text">Value: {{card?.value}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="auction-info">
                <h4>{{card?.name}}</h4><br>
                <span class="card-text">Sell Type: {{auction?.sellType}}</span><br>
                <span class="card-text">Price Listed: {{auction?.priceListed}}</span><br>
                <span class="card-text">Buyout Price: {{auction?.buyoutPrice}}</span><br>
                <span class="card-text">Number of Bids: {{auction?.numberBids}}</span><br>
                <span class="card-text">Expiration Date: {{auction?.expDate | date:'medium'}}</span><br><br>
            </div>
            <div class="auction-buttons">
                <h4>You Have {{buyer?.currencyAmount}} coins</h4><br>
                <label for="coinInput" class="form-label">Bid:</label>
                <input type="number" class="form-control" id="coinInput" placeholder="50" min="0">
                <button class="btn btn-primary mr-1 mt-2">Place Bid</button>
                <button class="btn btn-success mr-1 mt-2">Buy It Now</button>
                <a class="btn btn-danger mt-1" routerLink="/auctions">Back to Auction House</a>
            </div>
        </div>
    </div>
</div>
