<div class = "form-group">
  <div class="row mt-2">
    <div class="col-md-6" >
      <div class="host">
      <h4> Welcome Back, Trainer!</h4>
        <div>  
        <img src= "../../assets/guest_icon.png" class="img-circle" alt="host">
        </div>
      </div>
      <label for="email" class="font-weight-bold">Trainer Email:</label>
      <input type="text" id="email" class="form-control" required [(ngModel)] = "login.email" placeholder="->">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <label for="password" class="font-weight-bold">Trainer Password:</label>
      <input type="text" id="password" class="form-control" required [(ngModel)]="login.password" placeholder="->" >
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <input type="checkbox" id="remember" [(ngModel)]="login.checked" > 
      <span> <strong> Remember Me</strong></span>
    </div>
  </div>
 
  <div class="row mt-2">
      <div class="col-md-6">
        <button [routerLink]="['/user']"  class="btn btn-outline-success btn-block" (click)="SubmitLogin()">Submit</button>       
  
      </div>
  </div>
   
  

</div>



