<div class="row mt-2">
  <div class="col-md-6" >
    <label for="email" class="font-weight-bold">User Email:</label>
    <!-- <input type="text" id="email" class="form-control" [(NgModel)] = "login.email"> -->
</div>
</div>

<div class="row mt-2">
    <div class="col-md-6">
      <label for="password" class="font-weight-bold">User Password:</label>
      <!-- <input type="text" id="password" class="form-control" [(NgModel)] = "login.password"> -->
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-6">
      <button [routerLink]="['collection']" class="btn btn-outline-success btn-block" (click)="SubmitLogin()">Submit</button>       
    </div>
</div>



