<div class="container-fluid padding">
	<div class="row text-center padding">
        <!-- frontend -->
        <div class="col-md-12"><hr class="divider"></div>
		<div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fab fa-html5"></i>
            <h3>HTML5</h3>
            <p>Built with the lastest version of HTML, HTML5</p>
        </div>
       
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fab fa-bootstrap"></i>
            <h3>BootStrap</h3>
            <p>Built with the lastest version of Bootstrap</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fab fa-css3-alt"></i>
            <h3>CSS3</h3>
            <p>Built with the lastest version of CSS, CSS3</p>
        </div>
      
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fab fa-angular"></i>
            <h3>Angular2</h3>
            <p>Built with the lastest version of Angular, Angular2</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-bug"></i>
            <h3>Jasmine</h3>
            <p>Tested with the lastest version of Jasmine</p>
        </div>
   
        <div class="col-md-12"><hr class="divider"></div>
        
        <!-- backend -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fab fa-windows"></i>
            <h3>.Net5</h3>
            <p>Built with the lastest version of .Net, .Net5</p>
        </div>
       
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fab fa-microsoft"></i>
            <h3>ASP. Net Core3.1</h3>
            <p>Built with ASP .Net Core3.1</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-database"></i>
            <h3>SQL</h3>
            <p>Built with SQL and Azure SQL Server</p>
        </div>
        <div class="col-md-12"><hr class="divider"></div>

        <!-- devOps -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fab fa-dev"></i>
            <h3>Azure DevOps</h3>
            <p>Built with a legion of Azure services</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fab fa-github-square"></i>
            <h3>GitHub</h3>
            <p>Built with the popular tool GitHub</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-spider"></i>
            <h3>SonarCloud</h3>
            <p>Tested with the static analysis tool SonarCloud</p>
        </div>
        <div class="col-md-12"><hr class="divider"></div>

        <!-- devs -->
        <div class="col-md-6">
            <h3><span id="water">Meet </span> <span id="grass">The </span> <span id="fire">Team</span></h3>
            <hr class="divider">
            <div class="devs">
                <img src="../../assets/ryan.JPG" class="img-fluid">
                <img src="../../assets/joseph.JPG" class="img-fluid">
                <img src="../../assets/hao.JPG" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/gen1starters.png">
        </div>
