<h2> Available Packs</h2>
<div class="col-md-6" >
  <div class = "packs" >
     <!-- to be finished with 2-way binding -->
    <img src = "../../../assets/Pikachu.png" class="set-image" alt="base1"><br>
    <label>Quantity: </label>
    <input type= "text"  >
    <hr class = "divider">

    <img src = "../../../assets/HiddenFate.png" class="set-image" alt="base1"><br>
    <label>Quantity: </label>
    <input type= "text"  >
    <hr class = "divider">

    <img src = "../../../assets/swordshield.png" class="set-image" alt="base1"><br>
    <label>Quantity: </label>
    <input type= "text"  >
    <hr class = "divider">

   </div>
        
   

</div>